@import "normalize";


// <MIXINS>

@mixin font-main{
	font-family: 'Roboto', sans-serif;
}

@mixin font-logo{
	font-family: 'Revalia', cursive;
}

@mixin trans{
	transition: .5s;
}


//<VARIABLES>

// size
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

//color

$main-color:#727272;
$title-color:#000;
$secondary-color:#fff;
$form-color: #5F5D5D;
$hover-color:#34547A;

//bg color

$bg-even-color:#EEEFF1;
$bg-odd-color:#E5E5E5;
$bg-secondary-color:#34547A;
$bg-line-color:#C4C4C4;



//<COMMONS>

.section-inner{
	margin: 0 auto;
	max-width: 1200px;
}

.section-outer{
	@media(max-width:$screen-lg-max ){
		padding-left: 20px;
		padding-right: 20px;
	}
}

*{
	box-sizing: border-box;
}

body{
	@include font-main();
}


.page{
	width:100%;
	max-width: 540px;
	margin: 0 auto;
	text-align: center;
	&__title{
		font-style: normal;
		font-weight: 500;
		font-size: 32px;
		line-height: 37px;
		color: $title-color;
	}
	&__subtitle{
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		color:$main-color;
		margin-top: 50px;
	}
}




// SLIDER

.slider {
  position: relative;
  overflow: hidden;
  width: 100%; 
  max-width:1200px;
  margin: 0 auto ;
  


	&__wrapper {
	  display: flex;
	  transition: transform 0.6s ease; /* 0.6 длительность смены слайда в секундах */
	}
	&__item {
	  flex: 0 0 100%; /* определяет количество активных слайдов (в данном случае 2 */
	  max-width: 100%; /* определяет количество активных слайдов (в данном случае 2 */
	  
	  &-work{
	  	width: 100%
	  	
	  	

	  }
	}
	/* СТИЛИ ДЛЯ КНОПОК "НАЗАД" И "ВПЕРЁД" */
	&__control {
	  position: absolute;
	  display: none;  
	  top: 50%;
	  transform: translateY(-50%);
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  width: 40px; /* ширина кнопки */
	  height: 50px; /* высота кнопки */ 
	  opacity: .5; /* прозрачность */
	  background: #000; /* цвет фона */
	
		&_show {
		  display: flex;
		}
		&:hover,
		&:focus {
		  text-decoration: none;
		  outline: 0;
		  opacity: .9; /* прозрачность */
		}
		&_left {
		  left: 0;
		}
		&_right {
		  right: 0;
		}
		&::before {
		  content: '';
		  display: inline-block;
		  width: 20px; /* ширина иконки (стрелочки) */
		  height: 20px; /* высота иконки (стрелочки) */
		  background: transparent no-repeat center center;
		  background-size: 100% 100%;
		}
		&_left::before {
		  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
		}
		&_right::before {
		  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
		}
	}
}













// <HEADER>
.header{
	background-color: $bg-odd-color ;
	&-wrapper{
		padding-top: 60px;	
		display: flex;
		justify-content: space-between;

		&__logo{
			@include font-logo();
			font-size: 48px;
			color: $hover-color;
		}

		&__nav{
			display: flex;
			justify-content: space-between;
			max-width: 530px ;
			width: 100%;
			padding-top: 20px;

			&-item{
				text-transform: uppercase;
				text-decoration: none;
				color: $title-color;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 26px;
				letter-spacing: 0.1em;
				@include trans();

				&:hover{
					color: $hover-color;
					font-size: 20px;
				}
			}
		}
	}
	&-container{
		max-width: 1030px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		margin-top: 140px;

		&__img{
			margin-top: 40px;
		}

		&-wrapper{
			max-width: 540px;
			width: 100%;

			&__title{
				font-style: normal;
				font-weight: 500;
				font-size: 48px;
				line-height: 79px;
				color:$title-color;
				text-transform: uppercase;
			}
			&__subtitle{
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 26px;
				color: $main-color;
				margin-top: 50px;
			}
			&__button{
				margin: 50px 0 150px;
				
				&-click{
					padding: 25px 40px;
					background-color: $bg-secondary-color;
					width: 225px;
					color: $secondary-color;
					text-transform: uppercase;
					outline: none;
					border: none;
					&:hover{
						cursor: pointer;
					}
				}
			}

		}

	}
}


// ABOUT

.about{
	background: $bg-even-color;

	.section-inner{
		max-width: 100%;
	}
	&-page{
		padding: 120px 0 100px;
	}

	&-icons{
		background: $bg-secondary-color;
		color: $secondary-color;
		

		&-wrapper{
			padding: 100px 0;
			width:100%;
			max-width: 1100px;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;

			&__item{
				display: flex;
				max-width: 140px;
				width: 100%;
				justify-content: space-between;

				&-block{
					display: flex;
					flex-direction: column;
					justify-content: space-between;

					&-number{
						font-style: normal;
						font-weight: 500;
						font-size: 21px;
						line-height: 25px;
					}

					&-name{
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 26px;
					}
				}
			}
		}
	}


	&-me{
		max-width: 1150px;
		width: 100%;
		margin: 0 auto;
		padding: 100px 0;

		&-wrapper{
			display: flex;
			justify-content: space-between;
			
			&__skills{
				display: flex;
				flex-direction: column;
				justify-content: center;
				max-width: 445px;
				width: 100%;

				&-title{
					font-style: normal;
					font-weight: 500;
					font-size: 32px;
					line-height: 37px;
					color: $title-color;
					
				}

				&-stats{
					padding-top: 50px;

					&-name{
						padding-top: 30px;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 26px;
						color: $main-color;
					}

					&-line{
						margin-top: 20px;
						position: relative;
						width: 100%;
						height: 4px;
						background: $bg-line-color;

						&:after{
							content: "";
							width: 75%;
							height: 4px;
							position: absolute;
							left: 0;
							top: 0;
							bottom: 0;
							background: $bg-secondary-color;
						}
					}
				}
			}

			&__img-photo{
				max-width: 550px;
				width: 100%;
				height: 450px;
			}
		}
	}
}


// WORKS

.work{
	background: $bg-odd-color;

	&-page{
		padding-top: 100px;
	}

	&-slider{
		padding: 60px 0 100px;
	}
}

